<script src="/static/packages/jquery/dist/jquery.min.js"></script>
<script src="/static/packages/axios/dist/axios.min.js"></script>
<script src="/static/packages/http/ajax.min.js"></script>
<script src="/static/packages/runtime-memcache/dist/umd/index.js"></script>
<script src="/static/packages/location/i18n.min.js"></script>
<script src="/static/packages/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/packages/bootbox/dist/bootbox.all.min.js"></script>
<script src="/static/packages/tabulator-tables/dist/js/tabulator.min.js"></script>
<script src="/static/packages/scalc.js/dist/scalc.min.js"></script>
<script src="/static/packages/calendarize/calendarize-customized.mim.js"></script>
<script src="/static/packages/screen/width.min.js"></script>
<script src="/static/packages/screen/height.min.js"></script>
<script src="/static/packages/components/datagrid.min.js"></script>
<script src="/static/packages/main/main.min.js"></script>
<div id="calculator"></div>
</body>
</html>
