<%- include("../Layout/header.ejs") %>
<%- include("../Layout/navbar.ejs") %>

<main class="ms-3 me-3" role="main" id="ajax">
<%- include("../dashboard.ejs") %>
</main>

<%- include("../Layout/footer.ejs") %>
