<link rel="stylesheet" type="text/css" href="/packages/prismjs/themes/prism-coy.css">
<link rel="stylesheet" type="text/css" href="/packages/prismjs/plugins/line-numbers/prism-line-numbers.css">
<script src="/packages/prismjs/prism.js"></script>
<script src="/packages/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>

<div class="card">
  <h5 class="card-header"><i class="fas fa-times-circle lg text-danger"></i> ERROR</h5>
  <div class="card-body">
    <p class="card-title">FILE: {{ file }}</p>
    <pre class="line-numbers"><code class="language-javascript">{{ code }}</code></pre>
    <pre>{{ text }}</pre>
  </div>
</div>
