.bg-light {
  background-color: #F6F5F4 !important;
}

.bg-medium {
  background-color: #E5E4DD !important;
}

.bg-dark {
  background-color: #292B2C !important;
}

.bg-primary,
.btn-primary {
  background-color: #145D97 !important;
}

.bg-secondary {
  background-color: #6C757D !important;
}

.bg-success {
  background-color: #088088 !important;
}

.bg-danger {
  background-color: #AA3526 !important;
}

.bg-warning {
  background-color: #ED992E !important;
}

.bg-info {
  background-color: #557FAC !important;
}

.bg-regular {
  background-color: #94A2AB !important;
}

.bg-second,
#calendar .month .today {
  background-color: #E6B900 !important;
}

.bg-master,
#calendar .month h4 {
  background-color: #162D50 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  background-color: #EFEFEF !important;
}

a.dropdown-item:hover {
  background-color: #FFD300 !important;
}

a.dropdown-item:active,
.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #1A4D7F !important;
}

.tabulator .tabulator-header .tabulator-col,
.tabulator .tabulator-footer {
  background-color: #EDECEB !important;
}

.tabulator-selected {
  background-color: #F5E8B4 !important;
}

#calendar .month,
#calendar .day {
  background-color: #FFFFFF !important;
}

#calendar .day .weekend {
  background-color: #FAFAFF !important;
}

#calendar .dummy-day {
  background-color: #F5F5F5 !important;
}

fieldset,
legend,
#calendar .day:hover {
  background-color: #D7DFE6 !important;
}
