.text-light {
  color: #F6F5F4 !important;
}

.text-medium {
  color: #E5E4DD !important;
}

.text-dark {
  color: #292B2C !important;
}

.text-primary,
.btn-outline-primary {
  color: #145D97 !important;
}

.text-secondary {
  color: #6C757D !important;
}

.text-success {
  color: #088088 !important;
}

.text-danger {
  color: #AA3526 !important;
}

.text-warning {
  color: #ED992E !important;
}

.text-info {
  color: #557FAC !important;
}

.text-regular {
  color: #94A2AB !important;
}

.text-second {
  color: #E6B900 !important;
}

.text-master {
  color: #162D50 !important;
}

.text-red {
  color: #FF0000 !important;
}

.text-green {
  color: #009900 !important;
}

.text-blue {
  color: #233287 !important;
}

a.dropdown-item:active,
.btn-outline-primary:hover,
#calendar .month h4 {
  color: #FFFFFF !important;
}

#calendar .dummy-day {
  color: #CCCCCC !important;
}

legend {
  color: #577BA3 !important;
}
