<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
LOGO
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-login">
                        <div class="form-top">
                            <div class="form-top-left">
LOGO
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form role="form" action="Auth.login" method="post" class="login-form">
                                {{ display }}
                            	<div class="form-group">
                                    <input type="text" name="form[username]" placeholder="{{ i18n.user }}..." value="{{ form.username }}" class="form-username form-control" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="form[password]" placeholder="{{ i18n.password }}..." value="" class="form-password form-control" required>
                                </div>
                                <button type="submit" class="btn login"><span class="fa fa-sign-in fa-lg" aria-hidden="true"></span> <strong>{{ i18n.access }}</strong></button>
                            </form>
                           <div class="form-box float-left">
                               <a href="http://www.sambrax.com.br/" target="_blank"><img src="static/img/logo/sambrax.png" width="150px" /></a>
                           </div>
                            <div class="form-box align-right">
                                <a action="Auth.resetPassword">{{ i18n.forgot_password }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
