<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <fieldset><legend>{{ i18n.redefine_password }}</legend>
                        <small>{{ i18n.msg.enter_email }}<br>{{ i18n.msg.send_link }}</small>
                        <form role="form" action="Auth.redefinePassword" method="post" class="login-form">
                            {{ display }}
                            <div class="form-group">
                            	<input type="text" name="form[email]" placeholder="{{ i18n.email }}..." value="" class="form-control" required>
                            </div>
                            <button type="submit" class="btn login"><span class="fa fa-share fa-lg" aria-hidden="true"></span> <strong>{{ i18n.send }}</strong></button>
                        </form>
                    </fieldset>
                   <br><a action="Auth.loginForm"><span class="fa fa-arrow-left" aria-hidden="true"></span> {{ i18n.msg.return_to_login }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
