.bg-image-fixed {
  background-attachment: fixed !important;
}

.bg-image-left {
  background-position: left !important;
}

.bg-image-center {
  background-position: center !important;
}

.bg-image-right {
  background-position: right !important;
}

.bg-image-repeat {
  background-repeat: repeat !important;
}

.bg-image-repeat-x {
  background-repeat: repeat-x !important;
}

.bg-image-repeat-y {
  background-repeat: repeat-y !important;
}

.bg-image-no-repeat {
  background-repeat: no-repeat !important;
}

.bg-image-cover {
  background-size: cover !important;
}
