.rounded-pill-left {
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
}

.rounded-pill-right {
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
}

.btn-outline-primary {
  border: #1A4D7F solid 1px !important;
}

fieldset {
  border: 1px solid #CED4DA !important;
  border-radius: 6px !important;
}

legend {
  border: 0px solid #CED4DA !important;
  border-top: 2px solid #CED4DA !important;
  border-radius: 6px !important;
}
