.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

#calendar .day {
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #EEEEEE;
}

#calendar .month {
  overflow: hidden;
}
