legend {
  width: auto !important;
}

iframe,
datagrid,
column {
  width: 100%;
}

iframe {
  height: 100vh;
}

#calendar .month {
  width: 25%;
  height: 350px;
}

#calendar .day,
#calendar .dow,
#calendar .dummy-day {
  width: 12.7864%;
}

#calendar .day,
#calendar .dummy-day {
  height: 40px;
}
