@media (max-width: 992px) {
  main {
    padding-top: 4.2rem !important;
  }
}

@media (min-width: 992px) {
  main {
    padding-top: 6.2rem !important;
  }
}

datagrid,
column,
#calendar .month {
  margin: 0;
}

datagrid,
column {
  padding: 0;
}

fieldset {
  padding: 0 15px 10px 15px !important;
}

legend {
  padding: 3px 15px 3px 15px !important;
  margin: 10px 0 10px 0 !important;
}

#calendar .dow {
  margin-bottom: 10px;
}

#calendar .day,
#calendar .dummy-day {
  margin-bottom: 1.5%;
}

#calendar .day,
#calendar .dow,
#calendar .dummy-day {
  margin-right: 1.5%;
}

#calendar .month,
#calendar .month h4 {
  padding: 20px;
}

#calendar .day,
#calendar .dummy-day {
  line-height: 40px;
}
